@using IncidentManagement.Models
@model  LoginModel
@{
    ViewBag.Title = "Login";
    //Layout = "~/Views/Account/Login.cshtml";
}

<div class="row">
    @using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div style="padding-top:50px">
            <div class="col-sm-5 col-md-offset-2">
                <div class="well">
                    <!--Table to capture username and password-->
                    <table class="table table-bordered">
                        <thead>
                            <tr class="success">
                                <th colspan="2">
                                    <h4 style="color:grey" align="center">JMS Login</h4>
                                    <!--<a href="Register.html" class="btn btn-success pull-right">
                                        Register
                                    </a>-->
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Usename</td>
                                <td>
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr class="success">
                                <td colspan="2">
                                    <input type="submit" value="Log in" class="btn btn-success" />
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
