@model IncidentManagement.Models.Incident

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<div class="col-md-6 col-md-offset-3">

    <div class="class=" table-bordered">
        <div class="panel-heading" align="center" style="background-color:#FFA500;color:white; vertical-align:top; font-weight:500;font-size:large">
            TICKET
        </div>

        <div class="form-horizontal" style="color:gray;padding-top:20px; color:#333">

            <div class="form-group">
                <div class="col-lg-3" style="text-align:right; font-weight:800">
                    @Html.DisplayName("INC")
                </div>

                <div class="col-lg-9">
                    @Html.DisplayFor(model => model.INC)
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3" style="text-align:right; font-weight:800">
                    @Html.DisplayName("Date")
                </div>

                <div class="col-lg-9">
                    @Html.DisplayFor(model => model.DateCreated)
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3" style="text-align:right; font-weight:800">
                    @Html.DisplayName("Request Type")
                </div>

                <div class="col-lg-9">
                    @Html.DisplayFor(model => model.RequestType)
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3" style="text-align:right; font-weight:800">
                    @Html.DisplayNameFor(model => model.UserName)
                </div>

                <div class="col-lg-9">
                    @Html.DisplayFor(model => model.UserName)
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3" style="text-align:right; font-weight:800">
                    @Html.DisplayNameFor(model => model.Location)
                </div>

                <div class="col-lg-9">
                    @Html.DisplayFor(model => model.Location)
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3" style="text-align:right; font-weight:800">
                    @Html.DisplayNameFor(model => model.FeedBackSource)
                </div>

                <div class="col-lg-9">
                    @Html.DisplayFor(model => model.FeedBackSource)
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3" style="text-align:right; font-weight:800">
                    @Html.DisplayNameFor(model => model.Orders)
                </div>

                <div class="col-lg-9">
                    @Html.DisplayFor(model => model.Orders)
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3" style="text-align:right; font-weight:800">
                    @Html.DisplayNameFor(model => model.Priority)
                </div>

                <div class="col-lg-9">
                    @Html.DisplayFor(model => model.Priority)
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3" style="text-align:right; font-weight:800">
                    @Html.DisplayName("Request Details")
                </div>

                <div class="col-lg-9">
                    @Html.DisplayFor(model => model.TestDetails)
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3" style="text-align:right; font-weight:800">
                    @Html.DisplayNameFor(model => model.Status)
                </div>

                <div class="col-lg-9">
                    @Html.DisplayFor(model => model.Status)
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3" style="text-align:right; font-weight:800">
                    @Html.DisplayNameFor(model => model.Investigation)
                </div>

                <div class="col-lg-9">
                    @Html.DisplayFor(model => model.Investigation)
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3" style="text-align:right; font-weight:800">
                    @Html.DisplayNameFor(model => model.DevNotes)
                </div>

                <div class="col-lg-9">
                    @Html.DisplayFor(model => model.DevNotes)
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3" style="text-align:right; font-weight:800">
                    @Html.DisplayNameFor(model => model.Email)
                </div>

                <div class="col-lg-9">
                    @Html.DisplayFor(model => model.Email)
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3" style="text-align:right; font-weight:800">
                    @Html.DisplayName("File Download")
                </div>

                <div class="col-lg-9">
                    @Html.HiddenFor(model => model.FilePath)
                    @if (!string.IsNullOrEmpty(Model.FilePath))
                    {@Html.ActionLink("File Download", "Download", "Incidents", new { file = Model.FilePath }, null)}
                </div>
            </div>

            <div class="panel-footer primary" align="right" style="height:50px;vertical-align:top;">
                @Html.ActionLink("Edit", "Edit", new { id = Model.INC }) |
                @Html.ActionLink("Back to List", "Index")
            </div>

        </div>

    </div>

</div>
